.question {
  /* position: relative; */
  /* top: 200px; */
  /* padding: auto; */
  color: black;
  font-size: medium;
  /* display: flex; */
  margin: auto;
  justify-content: center;
  width: 100%;
  margin: 5rem 0;
  text-align: center;
}

.intro {
}

.introSub {
  color: blue;
}

.center-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-top: 4rem;
}

.page {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.question2 {
  position: relative;
  top: 600px;
  padding: auto;
  color: black;
  font-size: medium;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.question4 {
  position: relative;
  top: 400px;
  padding: auto;
  color: black;
  font-size: medium;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.score {
  position: fixed;
  left: 3%;
  bottom: 4%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.fab {
  position: fixed;
  bottom: 5rem;
  right: 5rem;
}

.correct {
  /* top: 80px; */
  /* position: relative; */
  color: green;
  font-size: large;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.solution {
  /* top: 80px; */
  /* position: relative; */
  color: red;
  font-size: large;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.incorrect {
  /* top: 80px; */
  /* position: relative; */
  color: red;
  font-size: large;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.inputBorder {
  border: 0.05rem;
  border-style: dotted;
  border-color: black;
  margin-bottom: 10rem;
}
.userInput {
  /* position: relative; */
  /* top: 25px; */
  color: blue;
  font-size: xx-large;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  padding-bottom: 1rem;
  overflow: auto;
}

.prettyInput {
  /* top: 100px; */
  /* position: relative; */
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  font-size: medium;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.prettySubmit {
  color: black;
}

.toolBar {
  color: white;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
}

.calculus {
  /* position: relative; */
  /* top: 125px; */
  color: black;
  display: flex;
  margin-top: 6rem;
  justify-content: center;
  width: 100%;
}

.quizInfo {
  display: flex;
  color: rgb(4, 141, 47);
  margin-top: 3rem;
  margin-bottom: 3rem;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.prettyLatex {
  /* top: 15px; */
  /* position: relative; */
  font-size: xx-large;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  padding-bottom: 3rem;
  padding-top: 2rem;
}

.mediumLatex {
  /* top: 15px; */
  /* position: relative; */
  font-size: large;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  padding-bottom: 3rem;
  padding-top: 2rem;
  overflow: auto;
}
.questionBorder {
  border: 0.05rem;
  border-radius: 2rem;
  border-style: dotted;
  border-color: black;
  margin-bottom: 10rem;
  word-break: break-all;
  white-space: "pre-wrap";
  overflow: auto;
}

.prettyQuestion {
  /* top: -15px; */
  /* position: relative; */
  display: inline-block;
  font-size: 1.2rem !important;
  font-family: "Computer Modern ";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  padding: 10px;

  font-weight: lighter;
  line-height: 1.4;
  white-space: pre-wrap;
}

.multiplechoice {
  font-size: 1.5rem !important;
  font-family: "Computer Modern ";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  list-style-type: none;
  margin-bottom: 4rem;
  margin-left: 1.1rem;
}

.eachChoice {
  display: flex;
  align-items: center;
  margin-bottom: 2.2rem;
}

.choiceLetter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  padding-right: 1.2rem;
  font-weight: bold;
}

.choiceText {
  display: flex;
  align-items: center;
}

.prettyExtra {
  font-family: "Computer Modern";
  src: url("http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbxo.otf");
  color: magenta;
  display: flex;
  margin: auto;
  justify-content: center;
  width: 100%;
  padding-bottom: 0.5rem;
  margin-top: 1rem;
  font-weight: bolder;
}
